<div class="hero" style="background-image: url('img/hero.png')">
    <div class="hero__content">
      <div class="hero__suptitle">
        WORLD MUSIC TOUR
      </div>
      <h1 class="hero__title">
        MI Music: Funk Carves Out A Groove At The Funk Music Hall Of Fame In Ohio
      </h1>
      <div class="hero__person">
        <div class="person">
          <div class="person__avatar">
            <img src="img/ava.jpg" alt="">
          </div>
          <div class="person__desc">
            james burlton<br>
            11 june 2022
          </div>
        </div>
      </div>
    </div>
  <div class="hero__triangle"></div>
</div>
