<div class="last-news">
  <div class="container">
    <div class="last-news__title">Latest News ::</div>
    <div class="js-news-slider last-news__slider slider">
      <div class="slider__item">
        <div class="small-article">
          <div class="small-article__image">
            <img src="img/article.jpg" alt="">
          </div>
          <h4 class="small-article__title">
            Pete talks about live on tour
          </h4>
          <div class="small-article__date">
            JAN 20, 2022
          </div>
          <div class="text small-article__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
          </div>
          <div class="small-article__link">
            <a href="#" class="more-link">read more</a>
          </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="small-article">
          <div class="small-article__image">
            <img src="img/article.jpg" alt="">
          </div>
          <h4 class="small-article__title">
            Pete talks about live on tour
          </h4>
          <div class="small-article__date">
            JAN 20, 2022
          </div>
          <div class="text small-article__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
          </div>
          <div class="small-article__link">
            <a href="#" class="more-link">read more</a>
          </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="small-article">
          <div class="small-article__image">
            <img src="img/article.jpg" alt="">
          </div>
          <h4 class="small-article__title">
            Pete talks about live on tour
          </h4>
          <div class="small-article__date">
            JAN 20, 2022
          </div>
          <div class="text small-article__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
          </div>
          <div class="small-article__link">
            <a href="#" class="more-link">read more</a>
          </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="small-article">
          <div class="small-article__image">
            <img src="img/article.jpg" alt="">
          </div>
          <h4 class="small-article__title">
            Pete talks about live on tour
          </h4>
          <div class="small-article__date">
            JAN 20, 2022
          </div>
          <div class="text small-article__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
          </div>
          <div class="small-article__link">
            <a href="#" class="more-link">read more</a>
          </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="small-article">
          <div class="small-article__image">
            <img src="img/article.jpg" alt="">
          </div>
          <h4 class="small-article__title">
            Pete talks about live on tour
          </h4>
          <div class="small-article__date">
            JAN 20, 2022
          </div>
          <div class="text small-article__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
          </div>
          <div class="small-article__link">
            <a href="#" class="more-link">read more</a>
          </div>
        </div>
      </div>
      <div class="slider__item">
      <div class="small-article">
        <div class="small-article__image">
          <img src="img/article.jpg" alt="">
        </div>
        <h4 class="small-article__title">
          Pete talks about live on tour
        </h4>
        <div class="small-article__date">
          JAN 20, 2022
        </div>
        <div class="text small-article__text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
          </p>
        </div>
        <div class="small-article__link">
          <a href="#" class="more-link">read more</a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
