.icon-facebook {
  width: 1em;
  height: 1em;
  fill: #444;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #444;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: #444;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: #444;
}
